<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="waper">
        <h3 class="title">Siêu Thị Trực Tuyến</h3>
        <nav style="background-color: black;">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Danh mục</a></li>
                <li><a href="#">Sản phẩm </a></li>
                <li><a href="#">Bình luận</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="atricle">
                <div class="banner">
                    <img src="./img/anh1.jpg" alt="">
                </div>
                <div class="product">
                    <ul>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                        <li>
                            <div class="product_img">
                                <img src="/img/iphoneX.jpg" alt="">
                            </div>
                            <div class="product_name">Đồng Hồ</div>
                            <div class="product_price">$4000</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar">
                <h4>Tài khoản</h4>
                <form class="form_login" action="">
                    <label style="font-weight: 600; " for="">Tên Đăng Nhập</label> <br> <br>
                    <input style="border: 1px solid rgb(232, 229, 229); border-right: 1px solid grey; width: 90%; height: 20px;" type="text"><br>
                    <label style="font-weight: 600; " for="">Mật Khẩu</label><br> <br>
                    <input style="border: 1px solid rgb(232, 229, 229); border-right: 1px solid grey; width: 90%; height: 20px;" type="text"><br> <br>
                    <input type="checkbox">Ghi Nhớ Mật Khẩu??<br>
                    <button style="background-color: white; border: 1px solid grey; border-radius: 10%; width: 80px; height: 25px;">Đăng Nhập</button><br>
                    <span style="color: aqua;">Quên Mật Khẩu</span> <br>
                    <span style="color: aqua;">Dăng Ký Thành Viên</span>
                </form>
                <div class="list">
                    <h3 class="titles">Danh mục</h3>
                    <br>
                    <div class="list_item">
                        <span>Đồng hồ</span> 
                        <hr>
                        <span>LapTop</span>
                        <hr>
                        <span>Điện thoại</span>
                        <hr>
                        <span>Ipad</span>
                        <hr>
                        <span>Tivi</span>
                        <hr>
                    </div>
                </div>
                <div class="search" align="center">
                    <input type="text" placeholder="Từ khóa tìm kiếm..">
                </div>
                <div class="product_flash">
                        <p>Sản Phẩm Bán Chạy</p>
                        <div class="list_product_flash">
                            <ul>
                                <li>
                                    <div class="img"><img src="img/clockforgirl.jpg" alt=""></div>
                                    <div class="name">Đông hồ đeo tay nữ</div>
                                </li>
                                <li>
                                    <div class="img"><img src="img/clockforgirl.jpg" alt=""></div>
                                    <div class="name">Đông hồ đeo tay nữ</div>
                                </li>
                                <li>
                                    <div class="img"><img src="img/clockforgirl.jpg" alt=""></div>
                                    <div class="name">Đông hồ đeo tay nữ</div>
                                </li>
                                <li>
                                    <div class="img"><img src="img/clockforgirl.jpg" alt=""></div>
                                    <div class="name">Đông hồ đeo tay nữ</div>
                                </li>
                                <li>
                                    <div class="img"><img src="img/clockforgirl.jpg" alt=""></div>
                                    <div class="name">Đông hồ đeo tay nữ</div>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>